<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.egrocery">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splashscreen"
            android:theme="@style/AppTheme.NoStatusBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mainmenu" android:theme="@style/AppTheme"/>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".FruitsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".LoginActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".Search" android:theme="@style/AppTheme"/>
        <activity android:name=".ProductActivity" android:theme="@style/AppTheme"/>
    </application>


</manifest>
